<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <title>HotPrice - результаты поиска по запросу "[[${q}]]"</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="clearfix">
<header class="header" id="header">
    <div class="header-first-line">
        <div class="header-logo">
            <a href="/">
                <img th:src="@{/img/logo.png}" alt="HotPrice">
            </a>
        </div>
        <div class="search-line">
            <form action="/search/" method="GET">
                <input type="text" id="searchbox" name="query" value=" ... хочу купить" maxlength="50">
                <button type="submit"><i class="fas fa-search fa-lg"></i></button>
            </form>
        </div>
    </div>
    <div class="header-second-line">
        <span class="dropdown-menu-box" id="dropdown-menu">
            <span class="dropdown-menu-text">Каталог товаров&nbsp;&nbsp;</span>
            <i id="dropdown-menu-sign" class="fas fa-angle-down fa-lg"></i>
        </span>
    </div>
</header>
<div id="container__menu">
    <nav class="clearfix" id="menu">
        <ul class="menu-icons">
            <li th:each="market : ${menu}"><i th:class="${market.icon}"></i></li>
        </ul>
        <ul class="menu">
            <li class="menu-list menu-list-1" th:each="market : ${menu}">

                <div class="menu-list-box">
                    <span class="menu-list__inner-line">
                        <span class="menu-name" th:text="${market.name}"></span>
                        <span class="sign-more"><i class="fas fa-angle-right fa-lg"></i></span>
                    </span>
                </div>

                <ul class="drop-menu drop-menu-1">
                    <li class="menu-list menu-list-2" th:each="rubric : ${market.rubrics}">
                        <div class="menu-list-box">
                            <span class="menu-list__inner-line">
                                <span class="menu-name" th:text="${rubric.name}"></span>
                                <span class="sign-more"><i class="fas fa-angle-right fa-lg"></i></span>
                            </span>
                        </div>
                        <ul class="drop-menu drop-menu-2">
                            <li class="menu-list" th:each="group : ${rubric.groups}">
                                <a th:href="${group.url}">
                                    <span class="menu-name" th:text="${group.name}"></span>
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>
    </nav>
</div>
<div class="under-rubricator-overlay"></div>
<div class="content">
    <div class="container-message">
        <div class="container-message__text-message">
            <p>По поисковому запросу <b>&laquo;<span th:text="${query}"></span>&raquo;</b> ничего не найдено.</p>
            <ul class="container-message__list">
                <li>Проверьте, нет ли в названиях грамматических ошибок.</li>
                <li>Попробуйте изменить поисковый запрос.</li>
                <li>Или воспользуйтесь <a href="/" class="container-message__link">меню сайта</a> для поиска нужного товара.</li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="container">
        <div class="credits">
            <a href="/">
                <img class="footer-logo" th:src="@{/img/logo.png}" alt="HotPrice">
            </a>
            <div class="credits__rights">
                © HotPrice 2018
            </div>
            <div>
                О проекте
            </div>
        </div>
    </div>
</footer>
<div id="top"><i class="fas fa-angle-double-up fa-2x"></i></div>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>

